# ignore all files
*
!*/

# include git files
!.gitignore

# includes
!*.bat
!*.md
!app/explorer.ahk
!lib.bak/**/*
!main_v1.1.ahk
!main.ahk
!standalone/mousectrl.ahk
!standalone/ime_wrap.ahk
!VLCplayer.ahk
!.vscode/launch.json

# force excludes
.bak
.bak/
*local.bat
*private/
