# ignore all files
*
!*/

# include git files
!.gitignore

# includes
!*.md
!*.bat
!main.ahk
!ime.ahk
!lib\eamat\IME.ahk
!VLCplayer.ahk
!app/explorer.ahk

# force excludes
*private/
*local.bat
.bak
.bak/
